<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.name %></title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen text-white bg-zinc-900 px-10 py-5">
        <div class="w-full flex justify-end">
            <a class="bg-red-500 rounded-md px-3 py-2 text-sm mb-5 inline-block" href="/logout">logout</a>
        </div>
        <div class="flex items-start gap-3">
            <div class="w-10 h-10 rounded-md overflow-hidden">
                <img class="w-full h-full object-cover" src="/images/uploads/<%= user.profilepic %>" alt="">
            </div>
            <h1 class="text-3xl"><span class="font-light">Hello </span><%=user.name %>👋</h1>
        </div>
        
        <h5 class="mb-5">Change your profile pic </h5>
        <form action="/profile/upload" method="post" autocomplete="off" enctype="multipart/form-data">
            <input type="file" name="image">
            <input class="px-3 py-2 w-40 bg-blue-500 block rounded-md mt-2" type="submit" value="Upload your file" >
        </form>
    </div>
</body>
</html>